@charset "utf-8";
/* CSS Document */
.header{
	background: rgba(86,226,217,1.00);
	padding:  10px 0;
}
.menu ul{
	list-style: none;
	display: flex;
}
.menu ul li a{
	display: block;
	color: #333;
	font-size: 14px;
	padding: 0 15px;
	text-decoration: none;
}
